.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* укажите через запятую в свойстве fontfamily: 'Helvetica Neue', 'Arial', sans-serif; если на
компьютере не будет установлен первый шрифт,
применится второй, sans-serif — обозначение
системного шрифта без засечек. */
